  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');
* {
    font-family: "Roboto", sans-serif;
    /* border: 1px solid red; */
}

body {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.herocontainer{
    /* border: 1px solid green; */
    width: 80%;
    margin-bottom: 72px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    margin-right: auto;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 48px 0;
}

.links {
    display: flex;
    gap: 25px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.contentcontainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

iframe {
    border-radius: 15px;
}

.contentheader {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    line-height: 40px;
}

.contentsubtext {
    font-size: 18px;
}

.content {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    background-color: #e5e7eb3b;
    width: 600px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herobutton {
    display: flex;
    /* margin-top: 20px; */
}

.button {
    background-color: #3882F6;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 30px;
}

 /* Information section */

.information {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    margin: 100px auto;
}

.info-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.info-card {
    flex: 0 1 210px;
}

.info-card-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 15px;
}

.info-card-info {
    font-size: 18px;
    text-align: center;
}

/* Quote Section */

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 700px; */
    padding: 150px;
}

.quote-container {
    width: 50%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-weight: bolder;
    font-size: 24px;
    text-align: right;
}

/* Sign up section */

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.su-container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 20px;
    width: 50%;
}

.su-text {
    margin-right: auto;
}

.su-text-heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.su-text-subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.su-button {
    display: flex;
    margin-left: 50px;
}

.su-button-link {
    flex: none;
    text-decoration: none;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 30px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}

/* Footer */
/* 
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    word-spacing: 10px;
}

span {
    word-spacing: normal;
} 
*/